// Colours
black = #222
darkgrey = #666
lightgrey = #CCC
green = #56913A
red = #972B1F
copycolor = #454545

// Layout
medium = 1000px
large = 1400px

// Fonts
headingfont = 'Source Sans Pro'
bodyfont = 'Source Sans Pro'